body{
    background-color: #0B0B0D;
    font-family: 'Times New Roman', Times, serif;
}

.navigation{
    background-color:#144338 !important;
    color: white !important;
    padding: 0.4em;
}

.navbar-nav .nav-link {
    color: white;
}
  
.navbar-brand {
    color: white;
}
  

.my-form{
    text-align: center;
    color: white;
    margin-top: 2em;
    background-color: #2E3240;
    padding: 5em;
    width: 30em;
}

.linky {
    text-decoration: none;
}

.my-btn {
    width: 100%;
    margin-bottom: 0.5em;
}

.card-body {
    padding: 0.5em;
}

.tiles {
    text-align: center;
}

.box {
    display: flex;
    color: white;
    width: 20%;
    margin: 1%;
    padding: 0.5em;
    float: left;
    background-color: #4F5659;
}

.all-notes {
    width: 75%;
}

.plus-box {
    display: flex;
    width: 5em;
    height: 5em;
    margin: 2em 0 2em 4.8em;
    float: left;
    background-color: #1B4016;
    text-align: center;
}

.plus-sign {
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.bar {
    background-color: #125786cc;
    padding: 5px;
}

.add-note {
    text-align: center;
    color: white;
    margin-top: 2em;
    background-color: #2E3240;
    padding: 5em;
    width: 30em;
}

.icons {
    margin-top: 20px;
}

.trash-icon {
    float: right;
}


span.hello-user {
    margin-right: 20px;
    color: #c8cadb;
    font-size: large;
}

.footer {
    position: fixed;
    float: none;
    left: 0;
    bottom: 4em;
    width: 100%;
    text-align: center;
  }


.form-inputs {
    color: white;
    background-color: #0b0b0db7;
    border: 0;
}

.form-inputs:focus {
    color: white;
    background-color: #0b0b0db7;
    border: 0;
}

.form-inputs::placeholder {
    color: #999999;
}

