{% extends 'notesapp/home.html' %}

{% block login %}
    <div class="container my-form shadow-lg rounded">
        <h2>Log In</h2>
        <br>
    <form  method="POST">
        {% csrf_token %}
        <input type="text" class="form-control form-inputs" placeholder="Username" name="username"> <br>
        <input type="password" class="form-control form-inputs" placeholder="Password" name="password"><br>
        <input type="submit" value="Login" class="btn btn-primary my-btn">
    </form>
    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if msg.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-body">
            <span>Don't have an account? <a class="linky" href="{% url 'notesapp:signup' %}"> Sign Up</a></span>
        </div>
    </div>
    </div>
{% endblock %}