{% extends 'notesapp/home.html' %}
{% load static %}


{% block general %}

    <br>

        <div class="container all-notes">
            
            {% if notes_list %}
            {% for note in notes_list %}

            <div class="card box shadow-lg">
                <div class="card-body">
                    <h3>{{note.title}}</h3>
                        {{note.note}}
                    <div class="icons">
                        <a href="{% url 'notesapp:update' id=note.id %}">
                            <img src="{% static 'notesapp/img/pencil.svg' %}" alt="Edit">
                        </a>
                        <a href="{% url 'notesapp:move_to_trash' id=note.id %}" class="trash-icon">
                            <img src="{% static 'notesapp/img/trash.svg' %}" alt="Trash">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="card plus-box shadow-lg">
                <div class="card-body">
                  <a href="{% url 'notesapp:addnote' %}">
                    <img class="plus-sign" src="{% static 'notesapp/img/plus-lg.svg' %}" alt="Add Note"></img>
                  </a>
                </div>
            </div>
            
        </div>
    

{% endblock %}