{% extends 'notesapp/home.html' %}
{% load static %}


{% block general %}
<br>
{% if trash_list %}
<div class="container all-notes">

    {% for note in trash_list %}

    <div class="card box shadow-lg">
        <div class="card-body">
            <h3>{{note.title}}</h3>
                {{note.note}}
                <div class="icons">
                    <a href="{% url 'notesapp:delete_trash' id=note.id %}" class="trash-icon">
                        <img src="{% static 'notesapp/img/trash.svg' %}" alt="Trash-icon">
                    </a>
                </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}


{% endblock %}