{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Noted</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/note.png' %}">

    <!-- Google icons link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <!-- Bootstrap Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>

    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary navigation">

            <div class="container-fluid">
                <div class="navbar-brand title" >
                    <img class="note-img" src="{% static 'images/note.png' %}" alt="Note Image"/>
                    <strong>NOTED</strong>
                </div>

                {% if request.user.is_authenticated %}
                    <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'notesapp:notes' %}">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'notesapp:trash' %}">Trash</a>
                        </li>
                        </ul>
                        
                        <span class="hello-user" >Hello, {{request.user|title}}</span>
                        <span>
                            <button class="btn btn-dark">
                                <a class="hello-user nav-link" href="{% url 'notesapp:logout' %}">Logout</a>
                            </button>
                        </span>
                    </div>
                {% endif %}

            </div>
        </nav>
    </div>

    {% block signup %}
        <!-- Signup Form -->
    {% endblock %}

    {% block login %}
        <!-- Login Form -->
    {% endblock %}

    {% block general %}
        <!-- General block -->
    {% endblock %}

    {% block error %}
        <!-- Error Block (404 Error)-->
    {% endblock %}

</body>
</html>